src
tests
scripts
.github
.husky
node_modules
coverage
*.tsbuildinfo
.eslintcache
.commitlintrc.json
.releaserc.json
.prettierrc
.editorconfig
tsconfig.json
tsconfig.build.json
tsup.config.ts
vitest.config.ts
eslint.config.js
.gitignore
